<a href="https://colab.research.google.com/github/Jeevaganesh04/Python-Practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tup=("C","Python","Java","C++","C#")
print(tup)

('C', 'Python', 'Java', 'C++', 'C#')

In [2]:
tup=(10,20,30,40,50)
print(f"First Element:",tup[0])
print(f"Last Element:",tup[-1])
print(f"Reverse: ",tup[::-1])

First Element: 10
Last Element: 50
Reverse:  (50, 40, 30, 20, 10)

In [3]:
tup=(85,90,78,92,85,90)
count=0
for i in range(len(tup)):
    if tup[i]==90:
        count+=1
    if tup[i]==78:
        print(f"Index of 78 is :",i)
print(f"90 has repeated {count} times")

Index of 78 is : 2
90 has repeated 2 times

In [4]:
student=("John",21,"Computer Science")
x,y,z=student
print(x)
print(y)
print(z)

John
21
Computer Science

In [5]:
tup=(1,2,3,4,5,6)
tup[2]=5
print(tup)

TypeError: 'tuple' object does not support item assignment

In [6]:
tup=(1,2,3,4,5,6)
tup1=(7,8,9,0)
print(tup+tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [7]:
student=(("Jeeva",90),("Ganesh",45),("Jg",100))
print(student)

(('Jeeva', 90), ('Ganesh', 45), ('Jg', 100))

In [8]:
fruits=("Apple","Banana","Cherry")
lfruits=list(fruits)
lfruits[1]="Strawberry"
tfruits=tuple(lfruits)
print(tfruits)

('Apple', 'Strawberry', 'Cherry')

In [9]:
dct={
    "Name":"Jeeva",
    "Age":21,
    "Department":"AI&DS"
}
print(dct)

{'Name': 'Jeeva', 'Age': 21, 'Department': 'AI&DS'}

In [11]:
dct={
    "Name":"Alice",
    "Age":25,
    "City":"New York"
}
print(dct["Name"])

if "City" in dct:
    print("Yes, City exixts")
else:
    print("No,there is not city in this dictionary")

Alice
Yes, City exixts

In [12]:
dct={
    "Name":"Jeeva",
    "Age":21,
    "Department":"AI&DS"
}
dct["Gender"]="Male"
print(dct)

{'Name': 'Jeeva', 'Age': 21, 'Department': 'AI&DS', 'Gender': 'Male'}

In [13]:
dct={
    "Name":"Jeeva",
    "Age":21,
    "Department":"AI&DS"
}
dct["Department"]="Data Science"
print(dct)

{'Name': 'Jeeva', 'Age': 21, 'Department': 'Data Science'}

In [14]:
dct={
    "Name":"Jeeva",
    "Age":21,
    "Department":"AI&DS",
    "Gender":"Male"
}
del dct["Age"]
print(dct)

{'Name': 'Jeeva', 'Department': 'AI&DS', 'Gender': 'Male'}

In [15]:
dct={
    "Name":"Jeeva",
    "Age":21,
    "Department":"AI&DS",
    "Gender":"Male",
    "State":"Tamil Nadu"
}
for i,j in dct.items():
    print(f"Key: {i}, Value: {j}")

Key: Name, Value: Jeeva
Key: Age, Value: 21
Key: Department, Value: AI&DS
Key: Gender, Value: Male
Key: State, Value: Tamil Nadu

In [16]:
fruits = ["apple","banana","apple","orange","banana","banana"]
dct={}
for i in fruits:
    if i in dct:
        dct[i]+=1
    else:
        dct[i]=1
print(dct)

{'apple': 2, 'banana': 3, 'orange': 1}

In [17]:
students={
    "student1":{
        "Name":"Jeeva",
        "Age":21,
        "Marks":90
    },
    "student2":{
        "Name":"Jim",
        "Age":29,
        "Marks":95
    },
    "student3":{
        "Name":"Dwight",
        "Age":31,
        "Marks":100
    }
}
print(students)

{'student1': {'Name': 'Jeeva', 'Age': 21, 'Marks': 90}, 'student2': {'Name': 'Jim', 'Age': 29, 'Marks': 95}, 'student3': {'Name': 'Dwight', 'Age': 31, 'Marks': 100}}

In [18]:
dct1={"a":1,"b":2}
dct2={"c":3,"d":4}
merged={**dct1,**dct2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [19]:
city={"Gotham","Newyork","Metropolis","Bengaluru","Chennai"}
print(city)

{'Bengaluru', 'Chennai', 'Gotham', 'Metropolis', 'Newyork'}

In [23]:
city={1,2,3,4,5}
city.add(6)
city.remove(3)
city.remove(10)
print(city)

KeyError: 10

In [24]:
city={"Gotham","Newyork","Metropolis","Bengaluru","Chennai"}
print(len(city))

5

In [25]:
num1={1,2,3,4,5,6,7}
num2={5,6,7,8,9,0}
print("Common Elements: ",num1&num2)
print("Different Elements: ",num1-num2)

Common Elements:  {5, 6, 7}
Different Elements:  {1, 2, 3, 4}

In [27]:
set1={i**2 for i in range(1,6)}
print(set1)

{1, 4, 9, 16, 25}